@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
body {
    background-color: #131313;
    color: #e5e2e1;
    font-family: var(--font-inter), sans-serif;
}
.text-glow-green {
    text-shadow: 0 0 15px rgba(187, 247, 208, 0.3);
}
